#confetti-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0; /* Warna latar belakang */
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0.8;
    animation: fall 2s linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(100vh) translateX(50vw);
    }
}

#calendar {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
